In [175]:
import graphlab as gl

In [176]:
sales = gl.SFrame('Homegrown GMB sep-june - Sheet1.csv')

Unable to parse line "5601 Olde Wadsworth Blvd.,Homegrown Tap & Dough,Arvada,US,8399,1030,7369,22166,8239,13927,CO,931,411,441,79,66324.04,4-9,4-15"

1 lines failed to parse correctly

Finished parsing file C:\Users\Heidi\Documents\Python Scripts\Homegrown GMB sep-june - Sheet1.csv

Parsing completed. Parsed 40 lines in 0.027448 secs.

------------------------------------------------------
Inferred types from first 100 line(s) of file as
column_type_hints=[str,str,str,str,long,long,long,long,long,long,str,long,long,long,long,long,float,str,str]
If parsing fails due to incorrect types, you can correct
the inferred type list above and pass it to read_csv in
the column_type_hints argument
------------------------------------------------------

Unable to parse line "5601 Olde Wadsworth Blvd.,Homegrown Tap & Dough,Arvada,US,8399,1030,7369,22166,8239,13927,CO,931,411,441,79,66324.04,4-9,4-15"

1 lines failed to parse correctly

Finished parsing file C:\Users\Heidi\Documents\Python Scripts\Homegrown GMB sep-june - Sheet1.csv

Parsing completed. Parsed 40 lines in 0.022956 secs.

In [177]:
data = gl.SFrame(sales)
data

Columns:
	Address	str
	Business name	str
	City	str
	Country	str
	Direct searches	int
	Directions actions	int
	Discovery searches	int
	Maps views	int
	Phone call actions	int
	Search views	int
	State	str
	Total actions	int
	Total searches	int
	Total views	int
	Website actions	int
	Week	int
	Net sales	float
	Start date	str
	End date	str

Rows: 40

Data:
+---------------------------+-----------------------+--------+---------+-----------------+
|          Address          |     Business name     |  City  | Country | Direct searches |
+---------------------------+-----------------------+--------+---------+-----------------+
| 5601 Olde Wadsworth Blvd. | Homegrown Tap & Dough | Arvada |    US   |       674       |
| 5601 Olde Wadsworth Blvd. | Homegrown Tap & Dough | Arvada |    US   |       677       |
| 5601 Olde Wadsworth Blvd. | Homegrown Tap & Dough | Arvada |    US   |       639       |
| 5601 Olde Wadsworth Blvd. | Homegrown Tap & Dough | Arvada |    US   |       694       |
| 5601 Olde Wadsworth Blvd. | Homegrown Tap & Dough | Arvada |    US   |       694       |
| 5601 Olde Wadsworth Blvd. | Homegrown Tap & Dough | Arvada |    US   |       634       |
| 5601 Olde Wadsworth Blvd. | Homegrown Tap & Dough | Arvada |    US   |       512       |
| 5601 Olde Wadsworth Blvd. | Homegrown Tap & Dough | Arvada |    US   |       714       |
| 5601 Olde Wadsworth Blvd. | Homegrown Tap & Dough | Arvada |    US   |       606       |
| 5601 Olde Wadsworth Blvd. | Homegrown Tap & Dough | Arvada |    US   |       755       |
+---------------------------+-----------------------+--------+---------+-----------------+
+--------------------+--------------------+------------+--------------------+
| Directions actions | Discovery searches | Maps views | Phone call actions |
+--------------------+--------------------+------------+--------------------+
|        333         |        5571        |    9586    |         74         |
|        423         |        5988        |    9757    |        102         |
|        304         |        5308        |    9346    |         64         |
|        259         |        5484        |    9299    |         78         |
|        377         |        5590        |   10070    |         78         |
|        272         |        5290        |    9941    |         66         |
|        230         |        4756        |    6773    |         85         |
|        229         |        4896        |    9029    |         70         |
|        311         |        5478        |   10099    |         68         |
|        242         |        5083        |    9477    |         70         |
+--------------------+--------------------+------------+--------------------+
+--------------+-------+---------------+----------------+-------------+-----------------+
| Search views | State | Total actions | Total searches | Total views | Website actions |
+--------------+-------+---------------+----------------+-------------+-----------------+
|     7026     |   CO  |      621      |      6245      |    16612    |       214       |
|     7093     |   CO  |      702      |      6665      |    16850    |       177       |
|     6637     |   CO  |      562      |      5947      |    15983    |       194       |
|     6910     |   CO  |      543      |      6178      |    16209    |       206       |
|     6661     |   CO  |      643      |      6284      |    16731    |       188       |
|     6895     |   CO  |      501      |      5924      |    16836    |       163       |
|     5633     |   CO  |      462      |      5268      |    12406    |       147       |
|     6618     |   CO  |      489      |      5610      |    15647    |       190       |
|     6614     |   CO  |      555      |      6084      |    16713    |       176       |
|     6442     |   CO  |      559      |      5838      |    15919    |       247       |
+--------------+-------+---------------+----------------+-------------+-----------------+
+------+-----------+------------+----------+
| Week | Net sales | Start date | End date |
+------+-----------+------------+----------+
|  1   |  65174.24 |    9-4     |   9-10   |
|  2   |  63243.05 |    9-11    |   9-17   |
|  3   |  61448.94 |    9-18    |   9-24   |
|  4   |  57884.06 |    9-25    |   10-1   |
|  5   |  67352.11 |    10-2    |   10-8   |
|  6   |  63419.34 |    10-9    |  10-15   |
|  7   |  64789.54 |   10-16    |  10-22   |
|  8   |  61786.89 |   10-23    |  10-29   |
|  9   |  61701.68 |   10-30    |   11-5   |
|  10  |  54512.16 |    11-6    |  11-12   |
+------+-----------+------------+----------+
[40 rows x 19 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

In [178]:
data['Net sales'] = data['Net sales'].astype(float)
data.shape

(40, 19)

In [179]:
lof = gl.toolkits.anomaly_detection.local_outlier_factor.create(reg_data_train)
scores = lof['scores']
scores.sort('anomaly_score', ascending = False)

Starting brute force nearest neighbors model training.

Starting blockwise similarity graph construction.

max rows per data block: 8181

number of reference data blocks: 4

+---------+-------------+--------------+

| # Pairs | % Complete. | Elapsed Time |

+---------+-------------+--------------+

| 64      | 7.90123     | 500us        |

| 810     | 100         | 999us        |

+---------+-------------+--------------+

Columns:
	row_id	int
	density	float
	anomaly_score	float
	neighborhood_radius	float

Rows: 35

Data:
+--------+-------------------+---------------+---------------------+
| row_id |      density      | anomaly_score | neighborhood_radius |
+--------+-------------------+---------------+---------------------+
|   27   | 1.15129841202e-05 | 19.7215071309 |    88682.8361829    |
|   6    | 0.000178130655759 | 2.14734581779 |     6063.7710478    |
|   28   | 0.000146953739996 | 1.55454405027 |    8349.28261901    |
|   4    | 0.000241690000673 | 1.43250617999 |    5019.19112702    |
|   24   | 0.000165525917811 | 1.35768240759 |    6988.92193404    |
|   26   | 0.000206825591052 | 1.34902925494 |    5532.45077383    |
|   21   | 0.000288342528445 | 1.31464237114 |    3969.53480429    |
|   22   | 0.000212686795519 |  1.3063412396 |    4723.00949066    |
|   17   | 0.000255725269982 | 1.18185897118 |    4525.44107835    |
|   0    | 0.000317087727391 | 1.13580129557 |    3542.21695462    |
+--------+-------------------+---------------+---------------------+
[35 rows x 4 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

In [180]:
#dat = data[25:30].append(data[32:41])
data[25:32]

Columns:
	Address	str
	Business name	str
	City	str
	Country	str
	Direct searches	int
	Directions actions	int
	Discovery searches	int
	Maps views	int
	Phone call actions	int
	Search views	int
	State	str
	Total actions	int
	Total searches	int
	Total views	int
	Website actions	int
	Week	int
	Net sales	float
	Start date	str
	End date	str

Rows: 7

Data:
+---------------------------+-----------------------+--------+---------+-----------------+
|          Address          |     Business name     |  City  | Country | Direct searches |
+---------------------------+-----------------------+--------+---------+-----------------+
| 5601 Olde Wadsworth Blvd. | Homegrown Tap & Dough | Arvada |    US   |       620       |
| 5601 Olde Wadsworth Blvd. | Homegrown Tap & Dough | Arvada |    US   |       762       |
| 5601 Olde Wadsworth Blvd. | Homegrown Tap & Dough | Arvada |    US   |       833       |
| 5601 Olde Wadsworth Blvd. | Homegrown Tap & Dough | Arvada |    US   |       743       |
| 5601 Olde Wadsworth Blvd. | Homegrown Tap & Dough | Arvada |    US   |       841       |
| 5601 Olde Wadsworth Blvd. | Homegrown Tap & Dough | Arvada |    US   |       1033      |
| 5601 Olde Wadsworth Blvd. | Homegrown Tap & Dough | Arvada |    US   |       869       |
+---------------------------+-----------------------+--------+---------+-----------------+
+--------------------+--------------------+------------+--------------------+
| Directions actions | Discovery searches | Maps views | Phone call actions |
+--------------------+--------------------+------------+--------------------+
|        345         |        5457        |    9389    |         46         |
|        475         |        6983        |   11821    |        112         |
|        382         |        6868        |   12849    |         56         |
|        360         |        6502        |   11752    |         88         |
|        305         |        6674        |   11916    |         68         |
|        381         |        7111        |   13754    |        103         |
|        345         |        6791        |   13102    |         68         |
+--------------------+--------------------+------------+--------------------+
+--------------+-------+---------------+----------------+-------------+-----------------+
| Search views | State | Total actions | Total searches | Total views | Website actions |
+--------------+-------+---------------+----------------+-------------+-----------------+
|     7030     |   CO  |      571      |      6077      |    16419    |       180       |
|     8481     |   CO  |      963      |      7745      |    20302    |       376       |
|     8068     |   CO  |      817      |      7701      |    20917    |       379       |
|     7747     |   CO  |      778      |      7245      |    19499    |       330       |
|     8432     |   CO  |      712      |      7515      |    20348    |       339       |
|     8750     |   CO  |      910      |      8144      |    22504    |       426       |
|     7927     |   CO  |      769      |      7660      |    21029    |       356       |
+--------------+-------+---------------+----------------+-------------+-----------------+
+------+-----------+------------+----------+
| Week | Net sales | Start date | End date |
+------+-----------+------------+----------+
|  26  |  57633.89 |    2-26    |   3-4    |
|  27  |  63543.42 |    3-5     |   3-11   |
|  28  |  72219.86 |    3-12    |   3-18   |
|  29  |  63672.78 |    3-19    |   3-25   |
|  30  |  53046.21 |    3-26    |   4-1    |
|  31  |  61925.18 |    4-2     |   4-8    |
|  33  |  73617.76 |    4-16    |   4-22   |
+------+-----------+------------+----------+
[7 rows x 19 columns]

In [181]:
train_data, test_data = data.random_split(.8, seed = 0)
valid_data, testing_data = test_data.random_split(.5, seed = 0)

In [182]:
reg_data_train = train_data.remove_columns(['Address', 'Business name', 'City', 'State', 'Country', 'Week', 'Start date', 'End date'])
reg_data_valid = valid_data.remove_columns(['Address', 'Business name', 'City', 'State', 'Country', 'Week', 'Start date', 'End date'])
reg_data_test = test_data.remove_columns(['Address', 'Business name', 'City', 'State', 'Country', 'Week', 'Start date', 'End date'])

In [183]:
reg_data_train.show()

Canvas is accessible via web browser at the URL: http://localhost:54627/index.html
Opening Canvas in default web browser.

In [184]:
lof = gl.toolkits.anomaly_detection.local_outlier_factor.create(reg_data_train)
scores = lof['scores']

Starting brute force nearest neighbors model training.

Starting blockwise similarity graph construction.

max rows per data block: 8181

number of reference data blocks: 4

+---------+-------------+--------------+

| # Pairs | % Complete. | Elapsed Time |

+---------+-------------+--------------+

| 64      | 7.90123     | 0us          |

| 810     | 100         | 499us        |

+---------+-------------+--------------+

In [185]:
scores.sort('anomaly_score', ascending = False)

Columns:
	row_id	int
	density	float
	anomaly_score	float
	neighborhood_radius	float

Rows: 34

Data:
+--------+-------------------+---------------+---------------------+
| row_id |      density      | anomaly_score | neighborhood_radius |
+--------+-------------------+---------------+---------------------+
|   6    | 0.000178130655759 | 2.16729500845 |     6063.7710478    |
|   27   | 0.000154467634139 | 1.50754440273 |    8047.79986089    |
|   4    |  0.00025946511246 | 1.36681449815 |    4182.49639373    |
|   26   | 0.000206825591052 | 1.34902925494 |    5532.45077383    |
|   21   | 0.000288342528445 | 1.31464237114 |    3969.53480429    |
|   22   | 0.000212686795519 |  1.3063412396 |    4723.00949066    |
|   24   | 0.000175655095193 | 1.30158094638 |    6750.34876024    |
|   17   | 0.000255725269982 | 1.18185897118 |    4525.44107835    |
|   20   |  0.00023054023521 |  1.1310244895 |    4525.44107835    |
|   18   | 0.000280614183963 | 1.12924681773 |    4001.60318924    |
+--------+-------------------+---------------+---------------------+
[34 rows x 4 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

In [186]:
gl.SFrame(reg_data_train)

Columns:
	Direct searches	int
	Directions actions	int
	Discovery searches	int
	Maps views	int
	Phone call actions	int
	Search views	int
	Total actions	int
	Total searches	int
	Total views	int
	Website actions	int
	Net sales	float

Rows: 34

Data:
+-----------------+--------------------+--------------------+------------+--------------------+
| Direct searches | Directions actions | Discovery searches | Maps views | Phone call actions |
+-----------------+--------------------+--------------------+------------+--------------------+
|       674       |        333         |        5571        |    9586    |         74         |
|       677       |        423         |        5988        |    9757    |        102         |
|       639       |        304         |        5308        |    9346    |         64         |
|       694       |        259         |        5484        |    9299    |         78         |
|       694       |        377         |        5590        |   10070    |         78         |
|       634       |        272         |        5290        |    9941    |         66         |
|       512       |        230         |        4756        |    6773    |         85         |
|       714       |        229         |        4896        |    9029    |         70         |
|       606       |        311         |        5478        |   10099    |         68         |
|       755       |        242         |        5083        |    9477    |         70         |
+-----------------+--------------------+--------------------+------------+--------------------+
+--------------+---------------+----------------+-------------+-----------------+
| Search views | Total actions | Total searches | Total views | Website actions |
+--------------+---------------+----------------+-------------+-----------------+
|     7026     |      621      |      6245      |    16612    |       214       |
|     7093     |      702      |      6665      |    16850    |       177       |
|     6637     |      562      |      5947      |    15983    |       194       |
|     6910     |      543      |      6178      |    16209    |       206       |
|     6661     |      643      |      6284      |    16731    |       188       |
|     6895     |      501      |      5924      |    16836    |       163       |
|     5633     |      462      |      5268      |    12406    |       147       |
|     6618     |      489      |      5610      |    15647    |       190       |
|     6614     |      555      |      6084      |    16713    |       176       |
|     6442     |      559      |      5838      |    15919    |       247       |
+--------------+---------------+----------------+-------------+-----------------+
+-----------+
| Net sales |
+-----------+
|  65174.24 |
|  63243.05 |
|  61448.94 |
|  57884.06 |
|  67352.11 |
|  63419.34 |
|  64789.54 |
|  61786.89 |
|  61701.68 |
|  54512.16 |
+-----------+
[34 rows x 11 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

In [187]:
#reg_data.remove_column('Net sales')

In [191]:
features = reg_data_train.column_names()
features[0:10]

['Direct searches',
 'Directions actions',
 'Discovery searches',
 'Maps views',
 'Phone call actions',
 'Search views',
 'Total actions',
 'Total searches',
 'Total views',
 'Website actions']

In [194]:
fista_model_1000 = gl.linear_regression.create(reg_data_train, target = 'Net sales', features = features[0:10], feature_rescaling= 'boolean',
                                         solver = 'fista', l1_penalty = 1000.0, max_iterations = 2500, verbose = False)

In [197]:
fista_model_1000.get('coefficients').print_rows(num_rows = 11)

+--------------------+-------+----------------+--------+
|        name        | index |     value      | stderr |
+--------------------+-------+----------------+--------+
|    (intercept)     |  None | 57759.2390672  |  None  |
|  Direct searches   |  None |  6.5589646379  |  None  |
| Directions actions |  None | 31.1370179847  |  None  |
| Discovery searches |  None | 2.44153164373  |  None  |
|     Maps views     |  None |  1.4158031539  |  None  |
| Phone call actions |  None | -44.5886834121 |  None  |
|    Search views    |  None | -6.94366009894 |  None  |
|   Total actions    |  None |      0.0       |  None  |
|   Total searches   |  None | 2.02727919803  |  None  |
|    Total views     |  None |      0.0       |  None  |
|  Website actions   |  None | -3.48520288644 |  None  |
+--------------------+-------+----------------+--------+
[11 rows x 4 columns]

In [199]:
fista_model_1500 = gl.linear_regression.create(reg_data_train, target = 'Net sales', features = features[0:10], feature_rescaling= 'boolean',
                                         solver = 'fista', l1_penalty = 1500.0, max_iterations = 2500, verbose = False)
fista_model_1500.get('coefficients').print_rows(num_rows = 11)

+--------------------+-------+-----------------+--------+
|        name        | index |      value      | stderr |
+--------------------+-------+-----------------+--------+
|    (intercept)     |  None |  57183.1150303  |  None  |
|  Direct searches   |  None |  4.08828759244  |  None  |
| Directions actions |  None |   28.998553923  |  None  |
| Discovery searches |  None |  2.08735816664  |  None  |
|     Maps views     |  None |  1.40481451575  |  None  |
| Phone call actions |  None |  -36.4630422671 |  None  |
|    Search views    |  None |  -6.14831370072 |  None  |
|   Total actions    |  None |       0.0       |  None  |
|   Total searches   |  None |  1.71857697004  |  None  |
|    Total views     |  None |       0.0       |  None  |
|  Website actions   |  None | -0.143248321455 |  None  |
+--------------------+-------+-----------------+--------+
[11 rows x 4 columns]

In [201]:
fista_model_2000 = gl.linear_regression.create(reg_data_train, target = 'Net sales', features = features[0:10], feature_rescaling= 'boolean',
                                         solver = 'fista', l1_penalty = 2000.0, max_iterations = 2500, verbose = False)
fista_model_2000.get('coefficients').print_rows(num_rows = 11)

+--------------------+-------+----------------+--------+
|        name        | index |     value      | stderr |
+--------------------+-------+----------------+--------+
|    (intercept)     |  None | 55605.9763084  |  None  |
|  Direct searches   |  None | 2.76667636076  |  None  |
| Directions actions |  None | 27.5371192178  |  None  |
| Discovery searches |  None |  1.6726203894  |  None  |
|     Maps views     |  None | 1.46597952725  |  None  |
| Phone call actions |  None | -28.8745466179 |  None  |
|    Search views    |  None | -5.26116504589 |  None  |
|   Total actions    |  None |      0.0       |  None  |
|   Total searches   |  None | 1.37491425585  |  None  |
|    Total views     |  None |      0.0       |  None  |
|  Website actions   |  None |      0.0       |  None  |
+--------------------+-------+----------------+--------+
[11 rows x 4 columns]

In [203]:
fista_model_100 = gl.linear_regression.create(reg_data_train, target = 'Net sales', features = features[0:10], feature_rescaling= 'boolean',
                                         solver = 'fista', l1_penalty = 100.0, max_iterations = 2500, verbose = False)
fista_model_100.get('coefficients').print_rows(num_rows = 11)

+--------------------+-------+-----------------+--------+
|        name        | index |      value      | stderr |
+--------------------+-------+-----------------+--------+
|    (intercept)     |  None |  58593.0803621  |  None  |
|  Direct searches   |  None |  11.0957809272  |  None  |
| Directions actions |  None |  35.0537434789  |  None  |
| Discovery searches |  None |  3.10935117257  |  None  |
|     Maps views     |  None |   1.7448966752  |  None  |
| Phone call actions |  None |  -59.6637463124 |  None  |
|    Search views    |  None |  -8.04313435855 |  None  |
|   Total actions    |  None |       0.0       |  None  |
|   Total searches   |  None |  2.60814545092  |  None  |
|    Total views     |  None | -0.325063798496 |  None  |
|  Website actions   |  None |  -9.78503644199 |  None  |
+--------------------+-------+-----------------+--------+
[11 rows x 4 columns]

In [204]:
reg_model = gl.linear_regression.create(reg_data_train, target = 'Net sales', features = features[0:10], verbose = False)
reg_model.get('coefficients').print_rows(num_rows = 11)

+--------------------+-------+-----------------+---------------+
|        name        | index |      value      |     stderr    |
+--------------------+-------+-----------------+---------------+
|    (intercept)     |  None |  58706.5116425  | 11659.1456193 |
|  Direct searches   |  None |  11.6694975158  | 60446374.1771 |
| Directions actions |  None |  31.2866176055  |      nan      |
| Discovery searches |  None |   3.1801890338  | 60446374.1771 |
|     Maps views     |  None |  1.99326196789  | 2747453.12946 |
| Phone call actions |  None |  -65.5765006939 |      nan      |
|    Search views    |  None |  -7.96508259872 | 2747453.12945 |
|   Total actions    |  None |  4.32955628389  |      nan      |
|   Total searches   |  None |  2.67081132948  | 60446374.1771 |
|    Total views     |  None | -0.573914314927 | 2747453.12947 |
|  Website actions   |  None |  -14.7666548663 |      nan      |
+--------------------+-------+-----------------+---------------+
[11 rows x 4 columns]

In [212]:
fista_model_4000 = gl.linear_regression.create(reg_data_train, target = 'Net sales', features = features[0:10], feature_rescaling= 'boolean',
                                         solver = 'fista', l1_penalty = 4000.0, max_iterations = 2500, verbose = False)
fista_model_4000.get('coefficients').print_rows(num_rows = 11)

+--------------------+-------+-----------------+--------+
|        name        | index |      value      | stderr |
+--------------------+-------+-----------------+--------+
|    (intercept)     |  None |  49115.6518814  |  None  |
|  Direct searches   |  None |       0.0       |  None  |
| Directions actions |  None |  22.5389650559  |  None  |
| Discovery searches |  None | 0.0885436619508 |  None  |
|     Maps views     |  None |   1.6732850089  |  None  |
| Phone call actions |  None |  -1.80979115466 |  None  |
|    Search views    |  None |  -1.92194222864 |  None  |
|   Total actions    |  None |       0.0       |  None  |
|   Total searches   |  None |       0.0       |  None  |
|    Total views     |  None |       0.0       |  None  |
|  Website actions   |  None |       0.0       |  None  |
+--------------------+-------+-----------------+--------+
[11 rows x 4 columns]

In [215]:
fista_model_6000 = gl.linear_regression.create(reg_data_train, target = 'Net sales', features = features[0:10], feature_rescaling= 'boolean',
                                         solver = 'fista', l1_penalty = 6000.0, max_iterations = 2500, verbose = False)
fista_model_6000.get('coefficients').print_rows(num_rows = 11)

+--------------------+-------+-----------------+--------+
|        name        | index |      value      | stderr |
+--------------------+-------+-----------------+--------+
|    (intercept)     |  None |  44761.5832456  |  None  |
|  Direct searches   |  None |       0.0       |  None  |
| Directions actions |  None |  16.8617482848  |  None  |
| Discovery searches |  None |       0.0       |  None  |
|     Maps views     |  None |  1.29109754327  |  None  |
| Phone call actions |  None |       0.0       |  None  |
|    Search views    |  None | -0.440045254745 |  None  |
|   Total actions    |  None |       0.0       |  None  |
|   Total searches   |  None |       0.0       |  None  |
|    Total views     |  None |       0.0       |  None  |
|  Website actions   |  None |       0.0       |  None  |
+--------------------+-------+-----------------+--------+
[11 rows x 4 columns]

In [205]:
results_100 = fista_model_100.evaluate(reg_data_valid)
results_100

{'max_error': 9136.27994593983, 'rmse': 9136.27994593983}

In [206]:
results_1500 = fista_model_1500.evaluate(reg_data_valid)
results_1500

{'max_error': 6711.803613414282, 'rmse': 6711.803613414282}

In [207]:
results_1000 = fista_model_1000.evaluate(reg_data_valid)
results_1000

{'max_error': 7563.192835776754, 'rmse': 7563.192835776754}

In [208]:
results_2000 = fista_model_2000.evaluate(reg_data_valid)
results_2000

{'max_error': 6005.715899547249, 'rmse': 6005.715899547249}

In [213]:
results_4000 = fista_model_4000.evaluate(reg_data_valid)
results_4000

{'max_error': 3777.6785119270717, 'rmse': 3777.6785119270717}

In [216]:
results_6000 = fista_model_6000.evaluate(reg_data_valid)
results_6000

{'max_error': 3297.0768705578157, 'rmse': 3297.0768705578157}

In [209]:
results_reg = reg_model.evaluate(reg_data_valid)
results_reg

{'max_error': 9329.96718090264, 'rmse': 9329.96718090264}

In [211]:
testing_error = fista_model_2000.evaluate(reg_data_test)
testing_error

{'max_error': 17743.43409533568, 'rmse': 8082.5698124836945}

In [214]:
testing_error = fista_model_4000.evaluate(reg_data_test)
testing_error

{'max_error': 16855.63736239649, 'rmse': 7439.589710814676}

In [217]:
testing_error = fista_model_5000.evaluate(reg_data_test)
testing_error

{'max_error': 16801.76566728374, 'rmse': 7399.010267031322}

In [218]:
testing_error = fista_model_6000.evaluate(reg_data_test)
testing_error

{'max_error': 16778.000491111212, 'rmse': 7382.95969722492}